<%= form_for @comment, url: post_comment_path(@post, @comment) do |form| %>
	<div>
		<p><%= form.label :text, "Содержимое:" %></p>
		<p><%= form.text_field :text %></p>
	</div>
	<div>
		<p><%= form.submit "Изменить комментарий" %></p>
	</div>

<% end %>