<div class="post-create">
	<%= form_with model: message, url: dialog_messages_path(dialog_id: dialog, user_id: current_user.id), method: "post" do |form| %>
		<div class="form-group">
			<%= form.text_area :body %>
		</div>
		<br>
		<div class="text-center">
			<%= form.submit "Отправить", class: 'btn btn-primary' %>
		</div>
	<% end %>
</div>