.comment-blok{:id => "comment_#{comment.id}"}
  .comment-text
    #{comment.text}
  .comment-edit
    - if user_signed_in?
      - if current_user == comment.user
        = link_to edit_post_comment_path(post_id: post.id, id: comment.id), remote: true do
          .link-edit.fa.fa-edit.edit-icon
        = link_to post_comment_path(post_id: post.id, id: comment.id), method: :delete, remote: true do
          .link-delete.fa.fa-trash.del-icon
