<div class="comment-blok" id="comment_<%= comment.id %>">
	<div class="comment-text">
		<%= comment.text %>
	</div>
	<div class="comment-edit">
		<% if user_signed_in? %>
			<% if current_user == comment.user %>
				<a class="link-edit" href="<%= edit_post_comment_path(post_id: post.id, id: comment.id) %>", data-remote="true"><i class="fa fa-edit edit-icon"></i></a>
				<a class="link-delete" href="<%= post_comment_path(post_id: post.id, id: comment.id) %>" data-method="delete", data-remote="true"><i class="fa fa-trash del-icon"></i></a>
			<% end %>
		<% end %>
	</div>
</div>