.user-edit-form
  .row.form-edit
    .col-3
      - if @user.image.present?
        = image_tag @user.image, class: "avatar"
    .col-9
      - if @user.username.present?
        %p.username= @user.username
  = react_component("EditUser", {user: @user})
