<% if current_user == @user %>
	<p>У вас <%= @friends_all.count %> друзей</p>
<% else %>
	<p>У <%= @user.username %> друзей: <%= @friends_all.count %></p>
<% end %>
<div>
	<% @friends_all.each do |friend| %>
		<%= friend.username %>
	<% end %>
</div>