- if user_signed_in?
  .dialog
    .user-part
      %p Участники:
      - @dialog.users.each do |user|
        %p= link_to user.username, user_path(user), class: "list-user"
    #dialog_messages.chat{"data-channel-subscribe" => "dialog", "data-dialog-id" => "#{@dialog.id}"}
      - @dialog.messages.each do |message|
        = render partial: "/dialogs/partials/message", locals: {message: message}
    .send-message
      = render partial: "/messages/partials/new", locals: {message: @dialog.messages.new, dialog: @dialog}
- else
