<div class="dialog">
	<% if user_signed_in? %>
		<div class="user-part">
			<p>Участники:</p>
			<% @dialog.users.each do |user| %>
				<p><%=link_to user.username, user_path(user), class: "list-user" %></p>
			<% end %>		
		</div>
		<div class="chat" id="dialog_messages" data-channel-subscribe="dialog" data-dialog-id="<%= @dialog.id %>">

			<% @dialog.messages.each do |message| %>
				<%= render partial: "/dialogs/partials/message", locals: {message: message} %>
			<% end %>

		</div>
		<div class="send-message">
			<%= render partial: "/messages/partials/new", locals: {message: @dialog.messages.new, dialog: @dialog} %>
		</div>
	<% else %>
	<% end %>

</div>