.posts {
	margin: 45px 170px 8px;

	.post{
		border: 1px solid #778899;
		margin: 60px 0;
		border-radius: 3px;

		.user {
			border-bottom: 1px solid #778899;
			display: flex;

			.avatar {
				width: 38px;
				height: 38px;
				margin: 1px 5px 5px 2px;

				.user-image {
					width: 100%;
					height: 100%;
          			border: 1px solid #778899;
          			border-radius: 50%;
          			margin: 1px 5px 5px 2px;
				}
			}
			.username {
				margin-left: 5px;
				.nickname {
					padding-top: 13px;
			        color: #262626;
			        font-size: 25px;
			        font-weight: 600;
			        text-decoration: none;
			    }
			    .nickname:hover {
			    	color: blue
			    }
			}

			.post-edit {
				margin: auto 15px auto auto;

				.link-post-edit {
					text-decoration: none;
				}

				.link-post-delete {
					text-decoration: none;
				}
			}
		}
		
		.post-image {
			width: 100%;
      		border-bottom: 1px solid #f4f4f4;
		}

		.description {
			padding: 10px 10px 10px 10px;
			word-break: break-all;
		}

		.likes {
			padding: 10px 10px 10px 10px;
			display: flex;
			.like {
				text-decoration: none;
			}
			.count-likes {
				height: 28px;
				margin-top: 8px;
				outline: none;
				border: 0px;
				width: 20px;
				pointer-events: none;
			}
		}

		.comments-form {
			display: flex;
			padding: 10px 10px 10px 10px;
		}
		.comments {
			padding: 10px 10px 10px 10px;

			.comment-blok {
				display: flex;
				word-break: break-all;

				.comment-text {
					width: 500px;
					font-size: 20px;
					.link-user {
						text-decoration: none;
						color: black;
					}
					.link-user:hover {
						text-decoration: none;
						color: blue;
					}
				}

				.comments-edit {
					display: flex;
				}
			}
		}
	}

}

.post-create {
	border: 1px solid #dbdbdb;
	margin: 100px 160px;
	height: 100%;
	padding: 30px;
	border-radius: 3px;
	
	#error-exp {
		font-size: 20px;
		color: red;
	}

	.form-group {
		height: 70px;
		width: 200px;
		margin: 10px auto 10px 25%;
	}
	.btn-post-create {
		text-align: center;
	}

	#image {
		width: 300px;
		margin: 10px auto auto 40%;
	}

	input[type='text']{
		width: 480px;
 	}
 	
 	.cropp-canv {
 		width: 465px;
 		height: 290px;
 		.cropper-canvas	{
 			autoCropArea: 1;
 		}
 	}
}

.like_on {
	color: red;
}

.like_off {
	color: black;
}
.del-icon {
	color: black;
}
.edit-icon {
	color: black;
}

.comment-button{
}

p.comment-label {
	font-size: 25px;
	margin: auto auto 5px auto;
}

.link-delete {
	margin-left: 5px;
	text-decoration: none;
	}
.link-edit {
	text-decoration: none;
	margin-left: 20px;
	}

.link-delete:hover {
	color: blue;
	text-decoration: none;
	}
.link-edit:hover {
	text-decoration: none;
	color: blue;
	}

a.like {
	width: 34px;
	height: 30px;
}

canvas {
	height: auto;
	width: 466px;
}