.posts{ "data-controller": "infinite-scroll", "data-action": "scroll@window->infinite-scroll#scroll"}
  %div{ "data-target": "infinite-scroll.entries"}
    = render partial: "/posts/partials/posts_all"

  %div{ "data-target": "infinite-scroll.pagination", type: "hidden"}  
    = paginate @posts
